$black = #000
$white = #fff
$gray  = #666
$orange = #F05A23

$font = DINEngschriftStd, Roboto, Arial, Helvetica, sans-serif
$font_bold = DINNeuzeitGroteskStd-BdCond, Roboto, Arial, Helvetica, sans-serif
$maxwidth = 1440px
$menubar_height = 35px
