@import 'jeet'
@import '_settings'

normalize-css()
base()

@font-face {
  font-family: 'DINNeuzeitGroteskStd-BdCond';
  src: url('./fonts/DINNeuzeitGroteskStd-BdCond.eot');
  src: url('./fonts/DINNeuzeitGroteskStd-BdCond.eot?#iefix') format('embedded-opentype'),
       url('./fonts/DINNeuzeitGroteskStd-BdCond.woff2') format('woff2'),
       url('./fonts/DINNeuzeitGroteskStd-BdCond.woff') format('woff'),
       url('./fonts/DINNeuzeitGroteskStd-BdCond.ttf') format('truetype'),
       url('./fonts/DINNeuzeitGroteskStd-BdCond.svg#DINNeuzeitGroteskStd-BdCond') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINEngschriftStd';
  src: url('./fonts/DINEngschriftStd.eot');
  src: url('./fonts/DINEngschriftStd.eot?#iefix') format('embedded-opentype'),
       url('./fonts/DINEngschriftStd.woff2') format('woff2'),
       url('./fonts/DINEngschriftStd.woff') format('woff'),
       url('./fonts/DINEngschriftStd.ttf') format('truetype'),
       url('./fonts/DINEngschriftStd.svg#DINEngschriftStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

body
  background-color $black
  color $white
  font-family $font
  font-weight 300
  font-size 1.2em

  .is-mobile
    display none
    +mobile()
      display block

  .is-tablet
    display none
    +tablet()
      display block

  .is-desktop
    display none
    +desktop()
      display block

  .alignright
    float right
    margin 1em

  .wp-caption
    width auto!important

  img
    max-width 100%
    width auto
    height auto

  .aligncenter
    text-align center

  .wp-caption-text
    font-size 90%
    font-style italic

  &.adminbar-showing
    .wrapper
      header
        top 32px

  h1, h1, h3, h4, h5, h6
    font-family $font_bold
    font-weight 700

  a
    color $orange
    text-decoration none

    &:hover
      text-decoration underline

  .wrapper
    position relative
    center($maxwidth)

    header
      center($maxwidth)
      span(12/12)
      fixed()
      background-color $black
      top 0
      z-index 100

      h1
        display none

      .mobile-menu
        display none

        +mobile()
          display block
          cursor pointer
          span(1/12)

        .fa-bars
          display block
          text-align center
          line-height $menubar_height

      .payoff
        +desktop()
          display block
          span(4/12)

        +tablet()
          display none

        +mobile()
          display block
          span(11/12)

        .inner
          font-size 1em
          line-height $menubar_height
          font-weight 700
          text-align right
          padding 0 1em

          +mobile()
            text-align left
            font-size .8em
            text-shadow 2px 2px rgba(0, 0, 0, .25);

      nav
        line-height $menubar_height
        font-size 1em

        +desktop()
          span(8/12)
        +mobile()
          display none
          position absolute
          top $menubar_height
          background-color $black
          width 100%

        +tablet()
          span(12/12)

        ul
          list-style none
          padding 0
          margin 0

          li
            padding 0
            margin 0
            float left
            position relative

            +mobile()
              float none
              text-align center

            a
              text-decoration none
              text-transform uppercase
              display block
              padding 0 .5em
              border-right 1px solid $gray
              color $white
              position relative

              &:before
                content ""
                display block
                width 100%
                height 2px
                position absolute
                left 0
                bottom 0
                background-color $white
                visibility hidden
                transform scaleX(0)
                transition all 0.6s ease-in-out 0s

              &:hover, &.active
                transition all 1s ease-in-out 0s
                color $orange

                &:before
                  visibility visible
                  -webkit-transform scaleX(1)
                  transform scaleX(1)

              +mobile()
                border-right 0
                border-bottom 1px solid $gray

            &.current-menu-item a
              transition all 1s ease-in-out 0s
              color $orange

              &:before
                visibility visible
                -webkit-transform scaleX(1)
                transform scaleX(1)

            &:last-child a
              border-right none

            +mobile()
              &:first-child a
                border-top 1px solid $gray

    main
      center($maxwidth)
      span(12/12)
      position relative
      display block
      background-repeat no-repeat
      background-size cover
      background-image url('./img/interieur.jpg')
      background-attachment fixed
      z-index 1
      transition background-image 1.5s linear
      margin-top $menubar_height
      padding-top 2em
      padding-bottom 2em

      &.fixed
        fixed()
        top $menubar_height
        bottom 25px
        margin 0

        .content
          margin-left 0
          align(both)

      .ledgo-logo
        width 75px
        height 75px
        background-image url('./img/logo_op_transp.png')
        background-repeat no-repeat
        position absolute
        top .5em

        +desktop()
          right .5em
        +tablet()
          right .5em
        +mobile()
          left 50%
          transform translateX(-50%)

      .content
        +desktop()
          span(4/12, offset: 4/12)
          margin-top 2em
          margin-bottom 2em
        +tablet()
          span(8/12, offset: 2/12)
          margin-top 2em
          margin-bottom 2em
        +mobile()
          span(10/12, offset: 1/12)
          margin-top 3em
          margin-bottom 2em
        position static
        height auto
        transform none
        font-size .9em
        background-color $black
        border-radius 10px

        .inner
          overflow auto
          height 100%
          padding 0 1em
          margin 1em 0

        .read-more
          display inline-block
          line-height 1.1em
          border 1px solid $orange
          border-radius 10px
          font-weight bold
          padding .5em
          transition all 0.6s ease-in-out 0s

          &:hover
            background-color $orange
            border-color $white
            color $white
            text-decoration none

        h1, h2, h3, h4, h5, h6
          font-weight 400
          margin-top 0

        h1 a
          text-decoration none
          color $white

          &:hover
            text-decoration underline

    footer
      center($maxwidth)
      span(12/12)
      position relative
      margin 0
      background-color $black
      z-index 10

      &.fixed
        fixed()
        bottom 0

      .copy
        font-size .8em
        span(6/12)
        +mobile()
          span(12/12)
          text-align center
          font-size .6em
        line-height 25px

        .inner
          padding 0 1em

      nav
        font-size .7em

        span(6/12)
        +mobile()
          span(12/12)
          text-align center

        ul
          list-style none
          padding 0
          margin 0

          li
            padding 0
            margin 0
            float right
            +mobile()
              float none
              display inline-block

            a
              text-decoration none
              text-transform uppercase
              font-weight bold
              display block
              padding .5em
              color $white
              border-left 1px solid $gray
              +mobile()
                border-left 0
                border-right 1px solid $gray

              &:hover
                color $orange

            &:last-child a
              border-left 0
              +mobile()
                border-right 0

  .wpcf7
    form.wpcf7-form
      margin-bottom 2em

      .wpcf7-validation-errors, .wpcf7-mail-sent-ok
        border 0
        font-weight bold

      .wpcf7-response-output
        margin-left 0
        margin-right 0
        padding-left 0
        padding-right 0

      .wpcf7-not-valid-tip
        font-style italic
        font-size .9em

      input, textarea
        width 95%
        color $black

      input.wpcf7-submit
        // submit button
        background-color $black
        color $orange
        line-height 1.1em
        border 1px solid $orange
        border-radius 10px
        font-weight bold
        width auto
        padding .5em
        transition all 0.6s ease-in-out 0s

        &:hover
          background-color $orange
          border-color $white
          color $white
          text-decoration none

      select
        font-family $font
        font-weight 300
        font-size 1rem
        width 95%
        height 1.1em
        color $black

@media print
  body
    header
      width 100%

      h1
        display block!important

      nav, .payoff
        display none!important

    main
      position static!important
      width 100%
      padding 0
      margin 0

      .ledgo-logo
        display none!important

      .collapsed
        width 100%
        position static!important

        .inner .entry-content
          &>*
            display block!important

          .read-more-par
            display none!important

    footer
      width 100%

      nav
        display none!important

